In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"D:\skills\AI\Projects\Diet Prject\train_data_329x19.csv", sep=",")

In [3]:
df.describe()

,Unnamed: 0,patient_age,patient_gender,Ht,Wt,HB,UREA,CR,Na,K,FBS,HBA1C,SGOT,SGPT,calories,cho,Fat,pro,fluids,NA
count,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,327.000000,327.000000,329.000000,329.000000,327.000000
mean,164.000000,55.428571,0.604863,159.799088,66.775015,13.308328,84.366748,1.037356,134.978723,4.088997,83.835866,6.498419,24.169301,26.142432,1662.148936,235.282875,27.218654,66.313070,33.279939,5.688073
std,95.118347,18.665588,0.489625,6.554106,9.359885,2.169859,36.848712,0.790122,2.737973,0.348625,10.879767,1.930419,10.601355,12.546147,250.360555,112.340467,3.813544,7.465113,146.534910,1.832046
min,0.000000,10.000000,0.000000,135.000000,25.900000,6.580000,10.000000,0.530000,124.000000,2.400000,83.000000,4.600000,7.500000,6.700000,150.000000,164.000000,2.500000,43.000000,1.000000,0.000000
25%,82.000000,42.000000,0.000000,156.000000,63.000000,12.300000,43.100000,0.860000,135.000000,4.100000,83.000000,5.280000,22.800000,24.800000,1520.000000,209.000000,25.000000,62.000000,2.500000,5.000000
50%,164.000000,58.000000,1.000000,160.000000,68.000000,13.700000,106.050000,0.890000,135.000000,4.100000,83.000000,5.800000,22.800000,24.800000,1615.000000,221.000000,26.800000,67.000000,2.900000,6.000000
75%,246.000000,70.000000,1.000000,163.500000,71.500000,14.810000,106.970000,0.960000,135.000000,4.100000,83.000000,6.970000,22.800000,24.800000,1820.000000,250.000000,30.000000,70.000000,3.000000,7.000000
max,328.000000,94.000000,1.000000,180.000000,98.500000,17.300000,200.700000,9.780000,157.000000,6.700000,276.000000,14.600000,133.000000,170.000000,2500.000000,2180.000000,42.000000,90.000000,800.000000,8.000000

In [4]:
import numpy as np

In [5]:
cols = df.columns

In [6]:
cols

Index(['Unnamed: 0', 'patient_age', 'patient_gender', 'Ht', 'Wt', 'HB', 'UREA',
       'CR', 'Na', 'K', 'FBS', 'HBA1C', 'SGOT', 'SGPT', 'calories', 'cho',
       'Fat', 'pro', 'fluids', 'NA'],
      dtype='object')

In [7]:
df.drop(["Unnamed: 0"], axis =1,inplace = True)

In [8]:
n_cols = ['calories', 'cho','Fat', 'pro', 'fluids', 'NA']

In [9]:
for col in n_cols :
    x = df[col].quantile(q=[0.20,0.5,0.80],  interpolation='midpoint')

    Q1 =x[0.20]
 
    Q3 = x[0.80]
    IQR = Q3 - Q1
    repl = df[col].mean()
    df[col].fillna(repl,inplace=True)
    df.loc[df[col]>= (Q3+1.5*IQR), col] = round(repl,1)
    df.loc[df[col]<= (Q1-1.5*IQR), col] = round(repl,1)

In [10]:
df.describe()

,patient_age,patient_gender,Ht,Wt,HB,UREA,CR,Na,K,FBS,HBA1C,SGOT,SGPT,calories,cho,Fat,pro,fluids,NA
count,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000
mean,55.428571,0.604863,159.799088,66.775015,13.308328,84.366748,1.037356,134.978723,4.088997,83.835866,6.498419,24.169301,26.142432,1666.217021,228.210534,27.164855,66.241033,5.255623,5.688073
std,18.665588,0.489625,6.554106,9.359885,2.169859,36.848712,0.790122,2.737973,0.348625,10.879767,1.930419,10.601355,12.546147,211.027498,28.428929,3.280000,7.349294,8.404643,1.826452
min,10.000000,0.000000,135.000000,25.900000,6.580000,10.000000,0.530000,124.000000,2.400000,83.000000,4.600000,7.500000,6.700000,1190.000000,164.000000,20.000000,43.000000,2.000000,0.000000
25%,42.000000,0.000000,156.000000,63.000000,12.300000,43.100000,0.860000,135.000000,4.100000,83.000000,5.280000,22.800000,24.800000,1520.000000,209.000000,25.000000,62.000000,2.600000,5.000000
50%,58.000000,1.000000,160.000000,68.000000,13.700000,106.050000,0.890000,135.000000,4.100000,83.000000,5.800000,22.800000,24.800000,1620.000000,221.000000,27.000000,67.000000,2.900000,6.000000
75%,70.000000,1.000000,163.500000,71.500000,14.810000,106.970000,0.960000,135.000000,4.100000,83.000000,6.970000,22.800000,24.800000,1800.000000,247.500000,30.000000,70.000000,3.000000,7.000000
max,94.000000,1.000000,180.000000,98.500000,17.300000,200.700000,9.780000,157.000000,6.700000,276.000000,14.600000,133.000000,170.000000,2400.000000,330.000000,36.000000,84.000000,33.300000,8.000000

In [11]:
rslt_df = df.loc[df['calories'] > 1800]

In [12]:
rslt_df

,patient_age,patient_gender,Ht,Wt,HB,UREA,CR,Na,K,FBS,HBA1C,SGOT,SGPT,calories,cho,Fat,pro,fluids,NA
2,23.0,0,165.0,74.0,10.60,14.40,0.75,136.0,4.20,83.0,5.80,14.3,13.5,2090.0,235.300000,34.800000,80.0,3.0,7.0
7,37.0,1,158.0,71.0,12.70,16.50,0.94,139.0,3.60,83.0,5.80,39.3,76.5,1920.0,264.000000,32.000000,71.0,3.0,7.0
9,40.0,1,157.0,75.0,13.80,19.10,0.96,142.0,4.10,83.0,5.23,13.8,20.9,1980.0,272.000000,33.000000,75.0,3.0,6.0
13,47.0,1,158.0,70.0,14.81,106.40,0.86,135.0,4.10,83.0,5.80,22.8,24.8,1915.0,263.000000,31.000000,70.0,3.0,5.0
19,42.0,1,159.0,70.0,10.20,11.50,0.78,135.0,3.52,83.0,5.80,22.8,24.8,1915.0,263.000000,31.000000,70.0,2.9,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,13.0,0,153.0,69.0,14.46,106.52,0.98,135.0,4.10,83.0,4.74,22.8,24.8,2300.0,235.282875,27.218654,82.0,3.0,8.0
317,57.0,1,159.0,68.0,13.26,106.55,0.90,135.0,4.10,83.0,5.80,22.8,24.8,1880.0,259.000000,31.000000,68.0,3.0,6.0
325,48.0,1,159.0,68.5,16.57,105.60,0.87,135.0,4.10,83.0,7.31,22.8,24.8,1890.0,260.000000,31.000000,68.0,3.0,7.0
326,12.0,1,135.0,31.0,15.32,107.02,0.90,135.0,4.10,83.0,4.92,22.8,24.8,2200.0,235.282875,27.218654,62.0,3.0,8.0
328,42.0,1,166.0,70.0,14.01,105.72,0.87,135.0,4.10,83.0,4.61,22.8,24.8,1910.0,260.000000,31.000000,70.0,3.0,8.0

In [13]:
df.to_csv("No_Outlier_Data.csv", index = False)